Repository atirnayab/circleci-test: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-module-a, run-module-c, run-module-b

test
  module-a/readme.md
  module-c/readme.md
Due: run-setup=false, run-module-a, run-module-c

testing ci/cd
  .circleci/config.yml
  module-a/readme.md
Due: run-setup=false, run-module-a

testing ci/cd
  module-a/readme.md
Due: run-setup=false, run-module-a

ci/cd config updated
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-setup=false

updated module a readme
  module-a/readme.md
Due: run-setup=false, run-module-a

updated module b and c readme
  module-b/readme.md
  readme.md
Due: run-setup=false, run-module-b

updated module b and c readme
  module-a/readme.md
  readme.md
Due: run-setup=false, run-module-a

updated module b and c readme
  module-a/readme.md
  module-c/readme.md
Due: run-setup=false, run-module-a, run-module-c

updated config version
  .circleci/config.yml
  .circleci/continue_config.yml
  module-c/readme.md
Due: run-setup=false, run-module-c

updated config version
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-setup=false

added branch filter
  .circleci/config.yml
  module-c/readme.md
Due: run-setup=false, run-module-c

added branch filter
  module-c/readme.md
Due: run-setup=false, run-module-c

fix: splitted circle ci config
  .circleci/config.yml
  .circleci/continue_config.yml
  module-a/readme.md
Due: run-setup=false, run-module-a

fix: splitted circle ci config
  .circleci/config.yml
Due: run-setup=false

fix: splitted circle ci config
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-setup=false

fix: splitted circle ci config
  .circleci/config.yml
  module-a/readme.md
Due: run-setup=false, run-module-a

fix: splitted circle ci config
  module-a/readme.md
Due: run-setup=false, run-module-a

config updated
  .circleci/config.yml
  module-a/readme.md
Due: run-setup=false, run-module-a

config updated
  .circleci/config.yml
  .circleci/dev_continue_config.yml
  module-a/readme.md
Due: run-setup=false, run-module-a

testing commit signing
  readme.md
Due: run-setup=false

Path conditions:
  run-setup=false: any of: .*
  run-module-a: any of: module-a/.*
  run-module-c: any of: module-c/.*
  run-module-b: any of: module-b/.*
